<!DOCTYPE html>
<html>
	<head th:replace="~{base :: head}">
		<meta charset="utf-8">
		<title>Oferte aqui!</title>
	</head>
	<body onload="onLoad()">
	
		<div th:replace="~{base :: Logo}"></div>
	
		<div class="container" id="ofertas">
			
			<div th:replace="~{base :: titulo('Faça a sua oferta')}"></div>	
					
			<div class="card mb-3 mt-3" v-for="pedido in pedidos">
					<div class="card-header alert alert-secondary">{{pedido.nomeProduto}}</div>
				
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-8 mb-3">
							<div>
								<label class="form-label">Produto: </label>
								<a v-bind:href="pedido.urlProduto">{{pedido.nomeProduto}}</a>
							</div>
							<div>
								<label class="form-label">Descrição</label>
								<textarea class="form-control mb-3" rows="3" cols="" readonly="readonly">{{pedido.descricao}}</textarea>
							</div>
							<div class="row">
								<div class="col-md-5">
									Valor da oferta <input v-bind:class="{'is-invalid':pedido.erros.valorOfertado!==''}" class="form-control mt-2" v-model="pedido.valorNegociado"/>
									<div v-if="pedido.erros.valorOfertado" class="invalid-feedback">{{pedido.erros.valorOfertado}}</div>
								</div>
								<div class="col-md-7">
									Data da entrega <input v-bind:class="{'is-invalid':pedido.erros.dataEntrega!==''}" class="form-control mt-2" v-model="pedido.dataDaEntrega"/>
									<div v-if="pedido.erros.dataEntrega" class="invalid-feedback">{{pedido.erros.dataEntrega}}</div>
								</div>
							</div>
							<div>
								<label class="form-label">Comentário</label>
								<textarea class="form-control mb-3" rows="3" cols=""  v-model="pedido.comentario"></textarea>
							</div>
						</div>
						<div class="col-12 col-sm-4" >
							<img class="img-thumbnail mb-3" alt="Imagem do Produto" height="500" width="300" v-bind:src="pedido.urlImagem"/>
						</div>
						<div>
							<button v-if="pedido.ofertaEnviada" class="btn btn-success">Oferta enviada</button>
							<button v-else v-on:click="enviarOferta(pedido)" class="btn btn-primary">Enviar oferta</button>
						</div>
						
					</div>

				</div>
				
			</div>
		
		</div>

	<script>
			function onLoad(){
				var app = new Vue({
					  el: '#ofertas',
					  data: {
					    pedidos: []
					  },
					  mounted () {
						    axios
						      .get('http://localhost:8080/api/pedidos/aguardando')
						      .then(response => {
							      response.data.forEach(pedido => {
								      pedido.ofertaEnviada = false;
								      pedido.erros = {
								    		  valorOfertado: "",
										      dataEntrega: ""

										      }
							      })
						    	  this.pedidos = response.data
							   })
					  },
					  methods: {
						  enviarOferta: function(pedido) {
							  pedido.erros = {
						    		  valorOfertado: "",
								      dataEntrega: ""

								      };
						      
							  axios
						      .post('http://localhost:8080/api/ofertas', {
						    	  pedidoId: pedido.id,
						    	  valorOfertado: pedido.valorNegociado,
						    	  dataEntrega: pedido.dataDaEntrega,
						    	  comentario: pedido.comentario									

							      })
							      .then(response => pedido.ofertaEnviada = true)
							      .catch(error => {
								      error.response.data.errors.forEach(error => {
								    	  pedido.erros[error.field] = error.defaultMessage;
											
									      });
								   })
							  }
					  }
					});				
			}
		</script>

	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	
	</body>
</html>